 <div class="card mt-2">
	<article class="card-group-item">
		<header class="card-header" style="background-color:rgb(0, 153, 51) ;">
			<h6 class="title">Color </h6>
		</header>
		<div class="filter-content">
			<div class="card-body" style="background-color: #f2f2f2;">
					<div class="mb-3">
				<label for="filterColor" class="form-label" class="marka">Markalar</label>
				<input type="text" [(ngModel)]="filterColor" class="form-control" id="filterColor" placeholder="marka giriniz">
			  </div>
			  <div class="alert alert-success">
				  {{filterColor}} aradınız
			  </div>
			<ul class="list-group" *ngFor="let color of colors |colorfilter:filterColor">
				<li [class]="getCurrentColorClass(color)" (click)="setCurrentColor(color)" routerLink="/cars/color/{{color.colorId}}" >{{color.colorName}}</li>
			</ul>
			</div> 
		</div>
			
