<div class="card mt-2">
	<article class="card-group-item">
		<header class="card-header" style="background-color:rgb(0, 153, 51) ;">
			<h6 class="title">Brand </h6>
		</header>
		<div class="filter-content">
			<div class="card-body" style="background-color: #f2f2f2;">
			<!-- <form>
				<label class="form-check" *ngFor="let brand of brands">
				  <input class="form-check-input" type="checkbox" value="">
				  <span (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}" class="form-check-label" >
				    {{brand.brandName}}
				  </span>
				</label> 
			</form> -->
			
			<div class="mb-3">
				<label for="filterBrand" class="form-label" class="marka">Markalar</label>
				<input type="text" [(ngModel)]="filterBrand" class="form-control" id="filterBrand" placeholder="marka giriniz">
			  </div>
			  <div class="alert alert-success">
				  {{filterBrand}} aradınız
			  </div>
			<ul class="list-group" *ngFor="let brand of brands |brandfilter:filterBrand">
				<li [class]="getCurrentBrandClass(brand)" (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}" >{{brand.brandName}}</li>
			</ul>
			</div> 
		</div>