<nav class="navbar navbar-expand-lg navbar-light  navbarbackground">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/images/logo3.png"  alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="position-absolute top-0 start-50 translate-middle-x "> 
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" href="#">Tüm Araçlar</a>
          </li>
          <li class="nav-item dropdown">
            <li class="nav-item ms-5">
              <a class="nav-link" href="#">Hakkında</a>
            </li>
        </ul>
     </div> 
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-dark"   type="submit">Search</button>
        </form>
      </div>
  </nav>