<div class="container">
    <div class="context">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header"><h4>Marka Ekle</h4></div>
          <div class="card-body">
              <form [formGroup]="brandAddForm">
                <div class="mb-3">
                    <label for="brandId">Marka Id</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="brandId"
                        formControlName="brandId"
                        class="form-control"
                        placeholder="Araba Adı"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="brandName">Marka Adı</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="brandName"
                        formControlName="brandName"
                        class="form-control"
                        placeholder="Araba Adı"
                      />
                    </div>
                  </div>
                </form>

            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-success float-end" (click)="add()">Ekle</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    