
    <div class="row">
        <div class="col-3">
            <app-car-filter></app-car-filter>
            </div>
            <div class="col-9">
                <div class="card-group mt-4">
                    <div class="row  row-cols-md-3 g-4">
                    <div class="col" *ngFor="let car of carDtoDetails|carfilter:filteredCar" style="margin-top:15px;" >
                        <div class="card" style="background-color: #f2f2f2;">  
   
                            <img src="https://localhost:44351/{{car?.carImage[0]?.imagePath}}" class="card-img-top" alt="...">

                            <div class="card-body" >
                              <h5 class="card-title">{{car.carName}}</h5>
                              <p class="card-text">{{car.dailyPrice}}</p> -->
                               <p class="card-text position-absolute "><small class="text-muted">{{car.colorName}}</small></p>
                              <div class="d-flex justify-content-end"><button type="button" class="btn btn-success" routerLink="cars/detail/{{car.carId}}" >Detaylar</button></div>     
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
             </div>


