<div class="card" style="margin-top: 15px;">
	<article class="card-group-item" >
		<header class="card-header customerbackground" style="background-color:rgb(0, 153, 51) ;">
			<h6 class="title">Customer </h6>
		</header>
		<div class="filter-content">
			<div class="card-body" style="background-color: #f2f2f2;">
				<ul class="list-group">
					<li (click)="setCurrentCustomer(customer)" [class]="getCurrentCustomerClass(customer)"  *ngFor="let customer of customers" routerLink="/cars/customer/{{customer.UserId}}"> {{customer.companyName}} </li>
				  </ul>
			</div> <!-- card-body.// -->
		</div>
		</article>
		</div>
		